@import "tailwind";
@import "tailwind";
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&display=swap');

html, body {
  font-family: 'Prompt', sans-serif !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: #FFCF5A;
}

.z1 {
    z-index: -1;
}

.z0 {
    z-index: 0;
}

.z2 {
    z-index: 1;
}
