@import "tailwind";
@import "tailwind";
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Prompt', sans-serif !important;
}

.overflowHidden {
    overflow: hidden;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background: #FFCF5A;
}

.z1 {
    z-index: -1;
}

.z0 {
    z-index: 0;
}

.z2 {
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .carousel-3d-container {
        height: 213px !important;
    }

    .carousel-3d-slider {
        width: 302px !important;
        height: 213px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-slide {
        width: 302px !important;
        height: 213px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-slide.current {
        width: 302px !important;
        height: 213px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-slide.right-1 {
        width: 302px !important;
        height: 213px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-slide.left-1 {
        width: 302px !important;
        height: 213px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-container .carousel-3d-controls .next {
        color: white;
        right: 30px
    }

    .carousel-3d-container .carousel-3d-controls .prev {
        color: white;
        left: 30px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-3d-container {
        height: 253px !important;
    }

    .carousel-3d-slider {
        width: 332px !important;
        height: 253px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-slide.current {
        width: 332px !important;
        height: 253px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-slide {
        width: 332px !important;
        height: 253px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-slide.right-1 {
        width: 332px !important;
        height: 253px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-slide.left-1 {
        width: 332px !important;
        height: 253px !important;
        border-radius: 20px !important;
    }

    .carousel-3d-container .carousel-3d-controls .next {
        color: white;
        right: 30px
    }

    .carousel-3d-container .carousel-3d-controls .prev {
        color: white;
        left: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .carousel-3d-container {
        height: 293px !important;
    }

    .carousel-3d-slider {
        width: 392px !important;
        height: 293px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-slide.current {
        width: 392px !important;
        height: 293px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-slide {
        width: 392px !important;
        height: 293px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-slide.right-1 {
        width: 392px !important;
        height: 293px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-slide.left-1 {
        width: 392px !important;
        height: 293px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-container .carousel-3d-controls .next {
        color: white;
        right: 75px
    }

    .carousel-3d-container .carousel-3d-controls .prev {
        color: white;
        left: 75px;
    }
}

@media screen and (min-width: 1280px) {
    .carousel-3d-container  {
        height: 323px !important;
    }

    .carousel-3d-slider {
        width: 522px !important;
        height: 323px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-slide.current {
        width: 522px !important;
        height: 323px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-slide {
        width: 522px !important;
        height: 323px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-slide.right-1 {
        width: 522px !important;
        height: 323px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-slide.left-1 {
        width: 522px !important;
        height: 323px !important;
        border-radius: 25px !important;
    }

    .carousel-3d-container .carousel-3d-controls .next {
        color: white;
        right: 60px
    }

    .carousel-3d-container .carousel-3d-controls .prev {
        color: white;
        left: 60px;
    }
}



